@model KingsLeague.Models.Times

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Nome)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFundacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFundacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estadio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TimeId">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@if (Model.TecnicoId is null)
{
    @* Cadastrar e Vincular um tecnico *@
    <p>
        <a asp-controller="Tecnicos" asp-action="Create" asp-route-id="@Model?.TimeId">Adicionar Tecnico</a>
    </p>

}else
{
    @* Editar o tecnico *@
    <p>
        <a asp-controller="Tecnicos" asp-action="Edit" asp-route-id="@Model?.TecnicoId">Editar Tecnico</a>
    </p>
}
