@model KingsLeague.Models.Times

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Times</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFundacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFundacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estadio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TecnicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TecnicoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TimeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if (Model.Tecnicos is null)
{
    @* Cadastrar e Vincular um tecnico *@
    <p>
        <a asp-controller="Tecnicos" asp-action="Create" asp-route-id="@Model?.TimeId">Criar Tecnico</a>
    </p>

}else
{
    @* Editar o tecnico *@
    <p>
        <a asp-controller="Tecnicos" asp-action="Edit" asp-route-id="@Model?.TecnicoId">Editar Tecnico</a>
    </p>

    <h2>Tecnico</h2>

    <a>
        @Html.DisplayFor(model => model.Tecnicos.Nome)
    </a>
    <a>
        @Html.DisplayFor(model => model.Tecnicos.DataNascimento)
    </a>
    <a>
        @Html.DisplayFor(model => model.Tecnicos.Salario)
    </a>
    <a>
        @Html.DisplayFor(model => model.Tecnicos.Nacionalidade)
    </a>
    <a>
        @Html.DisplayFor(model => model.Tecnicos.TempoCarreira)
    </a>
    <a>
        @Html.DisplayFor(model => model.Tecnicos.Estrategia)
    </a>
}
