@model IEnumerable<KingsLeague.Models.Times>

@{
    ViewData["Title"] = "Index";
}

<h1>Times</h1>

<p>
    <a asp-action="Create">Adicionar Time</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFundacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFundacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadio)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TimeId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TimeId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.TimeId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
