@model KingsLeague.Models.Patrocinios

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Marca)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrazoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrazoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PatrocinioId">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
