@model IEnumerable<KingsLeague.Models.Patrocinios>

@{
    ViewData["Title"] = "Index";
}

<h1>Patrocínios</h1>

<p>
    <a asp-action="Create">Adicionar Patrocínio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrazoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoContrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoContrato)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PatrocinioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PatrocinioId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.PatrocinioId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
