@model KingsLeague.Models.Tecnicos

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Nome)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoCarreira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoCarreira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estrategia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estrategia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TecnicoId">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
