@model IEnumerable<KingsLeague.Models.Tecnicos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoCarreira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estrategia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoCarreira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estrategia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TecnicoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TecnicoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TecnicoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
