@model KingsLeague.Models.Jogos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Jogo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataJogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataJogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeMandante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeMandante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeVisitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeVisitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoJogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoJogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JogoId">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
